body {
  background-color: #dfdfdf;
  background-image: url(images/background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

h2, a, p {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

a {
  color: #b0b0b0;
}

a:hover {
  color: #faf9f9;
}

p{
  padding: 10px;
}

.img-resize {
  width: 200px;
  height: auto;
  border-radius: 50px;
  padding: 20px;
}

#profile-round {
  margin-top: 30px;
  height: 200px;
  border-radius: 20%  50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.02);

}

.main-cards {
  background-color: #f4f3f3f0;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  margin-bottom: 5%
  height: auto;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}

.container-4 {
  background-color: #f4f3f3e0;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* fraction*/
  border-radius: 10px;
}

.container-3-simple {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}

.container-2-simple {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* fraction*/
}


.left-margin {
  margin-left: 10px;
}

.top-margin {
  margin-top: 30px;
}

.font-size {
  font-size: 30px;
}

.borders {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.02)
}
